<%= render 'site_sidebar' %>

<div class="small-12 large-9 columns">
  <div class="panel">
    <%= render 'site_links', site: @site %>
  
    <%= simple_form_for @site, url: rake_task_server_site_path(@server, @site), remote: true do |f| %>
    	<div class="row">
    		<div class="medium-4 columns">
     			<%= f.input :input, label: false, placeholder: 'Task' %>
     		</div>
     		<div class="medium-8 columns">
     			<%= f.button :submit, 'Run Task', 'data-submit' => :true %>
     		</div>
     	</div>
      <%= f.input :output, label: 'Output', as: :text, disabled: true, input_html: { class: 'output', rows: 40 } %>
    <% end %>
  </div>
</div>