<% case view_type %>
<% when :dashboard %>

  <h3><span class="status <%= server.status.to_words %>"></span><%= link_to server.name, server_path(server) %></h3>
  <% if server.status == 2 %>
    <% cache("#{server.name.to_slug}_os") do %>
      <p><%= image_tag "icons/#{server.os[:dist].to_slug}.png" %><%= server.os[:name] %></p>
    <% end %>
    <%= render 'server_actions_dropdown', server: server %>
  <% else %>
    <p><em>Could not connect to server</em></p>
  <% end %>
  
<% when :sidebar %>

  <h3><span class="status <%= server.status.to_words %>"></span><%= link_to server.name, server_path(server) %></h3>
  <% if server.status == 2 %>
    <% cache("#{server.name.to_slug}_os") do %>
      <p><%= image_tag "icons/#{server.os[:dist].to_slug}.png" %><%= server.os[:name] %></p>
    <% end %>
    <ul>
      <%= render 'server_actions', server: server %>
    </ul>
  <% else %>
    <p><em>Could not connect to server</em></p>
  <% end %>
  
<% end %>