<nav class="top-bar management-menu" data-topbar>
  <section class="top-bar-section">
    <ul class="left">
      <li><%= link_to "Sites", server_site_index_path(server), active_on: true %></li>
      <li><%= link_to "Status", status_server_path(server), active_on: true %></li>
      <li><%= link_to "View Logs", view_log_server_path(server), active_on: true %></li>   
      <li><%= link_to "Apache Config", apache_config_server_path(server), active_on: true %></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
		<ul class="right">
			<li><% cache("#{server.name.to_slug}_ip") do %><%= link_to "http://#{server.ip}", target: '_blank' do %><%= image_tag 'icons/globe.png' %> <%= server.ip %><% end %><% end %></li>
		</ul>
  </section>
</nav>

<div id="message"><%= render 'message' %></div>