<% case view_type %>
<% when :index %>

  <p><%= link_to site.name, server_site_path(server, site) %></p>
  <%= simple_form_for site, url: toggle_server_site_path(@server, site), remote: true do |f| %>
    <div class="switch">
      <input id="site-toggle" name="site[toggle]" type="checkbox" value="1" data-submit <%= 'checked' if site.enabled? %>>
      <label for="site-toggle"></label>
    </div>
  <% end %>
  
<% when :sidebar %>
  <h4><%= link_to site.name, server_site_path(site.server, site) %></h4>
  <ul>
    <li><%= link_to "View Log",  view_log_server_site_path(server, site) %></li>
    <li><%= link_to "Edit Virtual Host Config",  virtual_host_config_server_site_path(server, site) %></li>
  </ul>
  
<% end %>