<% case view_type %>
<% when :index %>

  <div class="row">
    <div class="medium-5 columns">
      <span class="status <%= site.online.to_words if site.online %>"></span><%= link_to site.name, server_site_path(server, site) %>
      <%= simple_form_for site, url: toggle_server_site_path(@server, site), remote: true do |f| %>
        <div class="switch small">
          <input id="site-toggle-<%= site.id %>" name="site[toggle]" type="checkbox" value="1" data-submit <%= 'checked' if site.enabled? %>>
          <label for="site-toggle-<%= site.id %>"></label>
        </div> 
      <% end %>
      <%= render 'site_actions_dropdown', site: site %>
    </div>
    <div class="medium-7 columns">
      <%= image_tag "http://img.bitpixels.com/getthumbnail?code=18452&size=200&url=#{site.url}", class: 'border' %>
    </div>
  </div>
  
<% when :sidebar %>
  <h4><span class="status <%= site.online.to_words if site.online %>"></span><%= link_to site.name, server_site_path(site.server, site) %></h4>
  <p><strong>Server:</strong> <%= link_to site.server.name, site.server %></p>
  <ul>
    <%= render 'site_actions', site: site %>
  </ul>
  
<% end %>