<% unless defined? hidden %>
  <div data-alert class="alert-box info radius">
    Sudo access required for this resource.
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<% hidden = hidden ? 'true' : 'false' %>

<div id="sudo" class="reveal-modal tiny" data-reveal data-sudo="true" data-hidden=<%= hidden %>>
	<%= render 'message' %>

  <%= simple_form_for item, url: url, html: { class: 'sudo-form' } do |f| %>
    <%= f.input :password, label: false, placeholder: 'Sudo password needed...', as: :password, autofocus: true %>
    <%= f.button :submit, 'Set Password' %>
  <% end %> 
</div>