<% unless defined? hidden %>
  <div data-alert class="alert-box info radius">
    Sudo access required for this resource.
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<% type = defined?(hidden) ? 'sudo-hidden' : 'sudo' %>

<div id="<%= type %>" class="<%= type %> reveal-modal tiny" data-reveal>
	<%= render 'message' %>

  <%= simple_form_for item, url: url, html: { class: 'sudo-form' } do |f| %>
    <%= f.input :password, label: false, placeholder: 'Sudo password needed...', as: :password, input_html: { autofocus: true } %>
    <%= f.button :submit, 'Set Password' %>
  <% end %> 
</div>