<div class="row">
  <div class="medium-<%= @current_server.view_width %> columns">
    <div class="spinner small right"></div>
    <h3><span class="status <%= server.status.to_words %>"></span><%= link_to server.name, server_path(server) %></h3>

    <% if server.status == 2 %>
  
      <% cache "#{server.name.to_slug}_#{@current_server.view_width}", expires_in: 5.minutes do %>
          <p><%= image_tag "icons/#{server.os[:dist].to_slug}.png" %><%= server.os[:name] %></p>
          <%= render 'actions', server: server %>
        </div>
  
        <div class="medium-<%= @current_server.view_width %> columns monitor">
          <% if server.monitor && monitor = server.monitor['summary'] %>
      			<p><%= image_tag 'icons/hardware.png' %> <%= monitor['cpu'] %>% used</p>
      			<p><%= image_tag 'icons/memory.png' %> <%= number_to_human_size monitor['memory_used']%> / <%= number_to_human_size monitor['memory_total']%></p>
      			<p><%= image_tag 'icons/hdd.png' %> <%= number_to_human_size monitor['fullest_disk_free'] %> free</p>
      		<% end %>
        </div>
      <% end %>
  
      <script>
        // needs re-initializing after ajax load
        $(document).foundation('dropdown');
      </script>
  
    <% else %>
      <p><em>Could not connect to server</em></p>
      </div>
    <% end %>
</div> 