<%= render 'server_sidebar' %>

<div class="small-12 medium-9 columns">
  <div class="panel">
    <%= render 'server_links', server: @server %>
  
    <% if @sudo_password %>
      <%= simple_form_for @server, url: apache_config_server_path(@server) do |f| %>
        <%= f.input :input, label: false, as: :text, input_html: { value: @server.apache_config, data: {codemirror: true} } %>
        <%= f.input :password, as: :hidden, input_html: { value: params[:server][:password] } unless @pwd_not_needed %>
        <%= f.button :submit, 'Update Config' %>
      <% end %>
    <% else %>
      <%= render 'sudo_form', item: @server, url: apache_config_server_path(@server) %>
    <% end %>
  </div>
</div>