<%= render 'header' %>
<div class="row">
	<%= render 'server_sidebar' %>
  
  <div class="small-12 medium-9 columns">
    <%= simple_form_for @server, url: apache_config_server_path(@server) do |f| %>
      <%= f.input :input, label: 'Apache Config', as: :text, input_html: { value: @server.apache_config, rows: 40 } %>
      <%= f.button :submit, 'Update Config' %>
    <% end %>
  </div>
</div>