<%= render 'sidebar' %>

<div class="small-12 large-9 columns">
  <div class="panel">
    <%= render 'links', server: @server %>
  
    <% if @password %>
      <%= simple_form_for @server, url: view_log_server_path(@server), remote: true do |f| %>	    
	      <%= f.input :log, as: :select, collection: @server.logs, label_method: ->(log) { log.remove('/var/log/') }, selected: @file, include_blank: true, input_html: { data: { 'option-submit' => :true } } %>
        <%= f.input :output, label: false, as: :text, disabled: true, input_html: { class: 'output', value: @server_log, rows: 40 } %>
        <%= f.input :password, as: :hidden, input_html: { value: params[:server][:password] } unless @current_server.pwd_not_needed %>
      <% end %>
    <% else %>
      <%= render 'sudo_form', item: @server, url: view_log_server_path(@server) %>
    <% end %>
  </div>
</div>